[submodule ".registry"]
	path = .registry
	url = https://github.com/timtaylor/universe
	shallow = true
	branch = HEAD
[submodule "regplateR"]
	path = regplateR
	url = https://git.sr.ht/~htgb/regplateR
	shallow = true
	subdir = pkg
	registered = true
[submodule "coffee"]
	path = coffee
	url = https://github.com/TimTaylor/coffee
	shallow = true
	subdir = pkg
	registered = true
[submodule "surveyTools"]
	path = surveyTools
	url = https://github.com/TimTaylor/surveyTools
	shallow = true
	registered = true
[submodule "NHSmod11"]
	path = NHSmod11
	url = https://github.com/TimTaylor/NHSmod11
	shallow = true
	registered = true
