[submodule ".registry"]
	path = .registry
	url = https://github.com/timtaylor/timtaylor.r-universe.dev
	branch = HEAD
[submodule "ageutils"]
	path = ageutils
	url = https://github.com/TimTaylor/ageutils
[submodule "grates"]
	path = grates
	url = https://github.com/reconverse/grates
[submodule "i2extras"]
	path = i2extras
	url = https://github.com/reconverse/i2extras
[submodule "incidence2"]
	path = incidence2
	url = https://github.com/reconverse/incidence2
[submodule "lintrall"]
	path = lintrall
	url = https://github.com/TimTaylor/lintrall
	subdir = pkg
[submodule "super"]
	path = super
	url = https://github.com/TimTaylor/super
[submodule "ympes"]
	path = ympes
	url = https://github.com/TimTaylor/ympes
