[submodule ".registry"]
	path = .registry
	url = https://github.com/timtaylor/universe
	shallow = true
	branch = HEAD
[submodule "qalytools"]
	path = qalytools
	url = https://github.com/TimTaylor/qalytools
	shallow = true
	registered = true
